## Параметры приложения

# Ключ для доступа к OpenRouter
OPENROUTER_API_KEY=

# Строка подключения к базе данных
DB_URL=

# Уровень логирования
LOG_LEVEL=INFO

# Язык для OCR Tesseract
TESSERACT_LANG=eng

# Папка для сохранения обработанных документов
OUTPUT_DIR=Archive
